<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <DesktopBuildPackageLocation>C:\Users\aaron\Desktop\web deploy\Questionnaire2.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>Default Web Site/Registry6</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=(local);Initial Catalog=aspnet-Questionnaire2-20140106135649;User ID=registry;Password=14Character$$$" Name="Server=(local); Database=aspnet-Questionnaire2-20140106135649; User Id=registry; Password=14Character$$$" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Questionnaire2.Models.UsersContext, Questionnaire2" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="QuestionnaireContext" Order="2" Enabled="False">
          <Destination Path="Data Source=(local);Initial Catalog=QuestionnaireContext;User ID=registry;Password=14Character$$$" Name="Server=(local); Database=QuestionnaireContext; User Id=registry; Password=14Character$$$" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Questionnaire2.DAL.QuestionnaireContext, Questionnaire2" MigrationConfiguration="Questionnaire2.Migrations.Configuration, Questionnaire2" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Server=(local); Database=aspnet-Questionnaire2-20140106135649; User Id=registry; Password=14Character$$$</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)QuestionnaireContext-Web.config Connection String">
      <ParameterValue>Server=(local); Database=QuestionnaireContext; User Id=registry; Password=14Character$$$</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>