@model IList<Questionnaire2.Models.AppSetting>

<div class="pageIntro">
    @Html.Raw(Model.Where(XhtmlMobileDocType => XhtmlMobileDocType.AppSettingName == "Contact Info").FirstOrDefault().AppSettingValue)
</div>