@model Questionnaire2.Models.UserLevel

@{
    ViewBag.Title = "Download";
}

<h2>My IMPACT</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    <fieldset>
        <legend>Downloads</legend>
        <p>
            <table style="width:400px; border:1px solid gray">
                <tr style="border:1px solid gray">
                    <td>Portfolio (MS Word)</td>
                    <td><input type="submit" id="btnWord" name="Command" value="MS Word" title="Download" /></td>
                </tr>
                <tr style="border:1px solid gray">
                    <td>Portfolio (pdf)</td>
                    <td><input type="submit" id="btnPdf" name="Command" value="Pdf" /></td>
                </tr>               
                <tr style="border:1px solid gray">
                    <td>Level Certificate</td>
                    @if (Model != null && Model.FinalStepLevel != "")
                    {
                        <td><input type="submit" id="btnCert" name="Command" value="Certificate" /></td>
                    }
                    else
                    {
                        <td><input type="submit" id="btnCert" name="Command" value="Certificate" disabled="True" /></td>
                    }
                </tr>
            </table>
            
            
            
                
                      
        </p>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
